<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thumb.mapper.AdminOmsOrderMapper">

    <!-- oms_order 结果集映射 -->
    <resultMap id="omsOrderResultMap" type="com.thumb.entity.pojo.OmsOrder">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="member_id" jdbcType="BIGINT" property="memberId" />
        <result column="coupon_id" jdbcType="BIGINT" property="couponId" />
        <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
        <result column="create_time" jdbcType="VARCHAR" property="createTime" />
        <result column="member_username" jdbcType="VARCHAR" property="memberUsername" />
        <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
        <result column="pay_amount" jdbcType="DECIMAL" property="payAmount" />
        <result column="freight_amount" jdbcType="DECIMAL" property="freightAmount" />
        <result column="promotion_amount" jdbcType="DECIMAL" property="promotionAmount" />
        <result column="integration_amount" jdbcType="DECIMAL" property="integrationAmount" />
        <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount" />
        <result column="discount_amount" jdbcType="DECIMAL" property="discountAmount" />
        <result column="pay_type" jdbcType="INTEGER" property="payType" />
        <result column="source_type" jdbcType="INTEGER" property="sourceType" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="order_type" jdbcType="INTEGER" property="orderType" />
        <result column="delivery_company" jdbcType="VARCHAR" property="deliveryCompany" />
        <result column="delivery_sn" jdbcType="VARCHAR" property="deliverySn" />
        <result column="auto_confirm_day" jdbcType="INTEGER" property="autoConfirmDay" />
        <result column="integration" jdbcType="INTEGER" property="integration" />
        <result column="growth" jdbcType="INTEGER" property="growth" />
        <result column="promotion_info" jdbcType="VARCHAR" property="promotionInfo" />
        <result column="bill_type" jdbcType="INTEGER" property="billType" />
        <result column="bill_header" jdbcType="VARCHAR" property="billHeader" />
        <result column="bill_content" jdbcType="VARCHAR" property="billContent" />
        <result column="bill_receiver_phone" jdbcType="VARCHAR" property="billReceiverPhone" />
        <result column="bill_receiver_email" jdbcType="VARCHAR" property="billReceiverEmail" />
        <result column="receiver_name" jdbcType="VARCHAR" property="receiverName" />
        <result column="receiver_phone" jdbcType="VARCHAR" property="receiverPhone" />
        <result column="receiver_post_code" jdbcType="VARCHAR" property="receiverPostCode" />
        <result column="receiver_province" jdbcType="VARCHAR" property="receiverProvince" />
        <result column="receiver_city" jdbcType="VARCHAR" property="receiverCity" />
        <result column="receiver_region" jdbcType="VARCHAR" property="receiverRegion" />
        <result column="receiver_detail_address" jdbcType="VARCHAR" property="receiverDetailAddress" />
        <result column="note" jdbcType="VARCHAR" property="note" />
        <result column="confirm_status" jdbcType="INTEGER" property="confirmStatus" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        <result column="use_integration" jdbcType="INTEGER" property="useIntegration" />
        <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
        <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
        <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
        <result column="comment_time" jdbcType="TIMESTAMP" property="commentTime" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    </resultMap>

    <!-- oms_order_item 结果集映射 -->
    <resultMap id="omsOrderItemResultMap" type="com.thumb.entity.pojo.OmsOrderItem">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="order_id" jdbcType="BIGINT" property="orderId" />
        <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
        <result column="product_id" jdbcType="BIGINT" property="productId" />
        <result column="product_pic" jdbcType="VARCHAR" property="productPic" />
        <result column="product_name" jdbcType="VARCHAR" property="productName" />
        <result column="product_brand" jdbcType="VARCHAR" property="productBrand" />
        <result column="product_sn" jdbcType="VARCHAR" property="productSn" />
        <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
        <result column="product_quantity" jdbcType="INTEGER" property="productQuantity" />
        <result column="product_sku_id" jdbcType="BIGINT" property="productSkuId" />
        <result column="product_sku_code" jdbcType="VARCHAR" property="productSkuCode" />
        <result column="product_category_id" jdbcType="BIGINT" property="productCategoryId" />
        <result column="sp1" jdbcType="VARCHAR" property="sp1" />
        <result column="sp2" jdbcType="VARCHAR" property="sp2" />
        <result column="sp3" jdbcType="VARCHAR" property="sp3" />
        <result column="promotion_name" jdbcType="VARCHAR" property="promotionName" />
        <result column="promotion_amount" jdbcType="DECIMAL" property="promotionAmount" />
        <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount" />
        <result column="integration_amount" jdbcType="DECIMAL" property="integrationAmount" />
        <result column="real_amount" jdbcType="DECIMAL" property="realAmount" />
        <result column="gift_integration" jdbcType="INTEGER" property="giftIntegration" />
        <result column="gift_growth" jdbcType="INTEGER" property="giftGrowth" />
        <result column="product_attr" jdbcType="VARCHAR" property="productAttr" />
    </resultMap>

    <!--ums_member-->
    <!--<resultMap id="umsMemberResultMap" type="com.thumb.entity.pojo.UmsMember" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="member_level_id" property="memberLevelId" jdbcType="BIGINT" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="nickname" property="nickname" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="icon" property="icon" jdbcType="VARCHAR" />
        <result column="gender" property="gender" jdbcType="INTEGER" />
        <result column="birthday" property="birthday" jdbcType="DATE" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="job" property="job" jdbcType="VARCHAR" />
        <result column="personalized_signature" property="personalizedSignature" jdbcType="VARCHAR" />
        <result column="source_type" property="sourceType" jdbcType="INTEGER" />
        <result column="integration" property="integration" jdbcType="INTEGER" />
        <result column="growth" property="growth" jdbcType="INTEGER" />
        <result column="luckey_count" property="luckeyCount" jdbcType="INTEGER" />
        <result column="history_integration" property="historyIntegration" jdbcType="INTEGER" />
    </resultMap>-->

    <!-- 订单的一对多产品项映射 -->
    <resultMap id="omsOrderCollectionItemMap" type="com.thumb.entity.pojo.OmsOrder">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="member_id" jdbcType="BIGINT" property="memberId" />
        <result column="coupon_id" jdbcType="BIGINT" property="couponId" />
        <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="member_username" jdbcType="VARCHAR" property="memberUsername" />
        <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
        <result column="pay_amount" jdbcType="DECIMAL" property="payAmount" />
        <result column="freight_amount" jdbcType="DECIMAL" property="freightAmount" />
        <result column="promotion_amount" jdbcType="DECIMAL" property="promotionAmount" />
        <result column="integration_amount" jdbcType="DECIMAL" property="integrationAmount" />
        <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount" />
        <result column="discount_amount" jdbcType="DECIMAL" property="discountAmount" />
        <result column="pay_type" jdbcType="INTEGER" property="payType" />
        <result column="source_type" jdbcType="INTEGER" property="sourceType" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="order_type" jdbcType="INTEGER" property="orderType" />
        <result column="delivery_company" jdbcType="VARCHAR" property="deliveryCompany" />
        <result column="delivery_sn" jdbcType="VARCHAR" property="deliverySn" />
        <result column="auto_confirm_day" jdbcType="INTEGER" property="autoConfirmDay" />
        <result column="integration" jdbcType="INTEGER" property="integration" />
        <result column="growth" jdbcType="INTEGER" property="growth" />
        <result column="promotion_info" jdbcType="VARCHAR" property="promotionInfo" />
        <result column="bill_type" jdbcType="INTEGER" property="billType" />
        <result column="bill_header" jdbcType="VARCHAR" property="billHeader" />
        <result column="bill_content" jdbcType="VARCHAR" property="billContent" />
        <result column="bill_receiver_phone" jdbcType="VARCHAR" property="billReceiverPhone" />
        <result column="bill_receiver_email" jdbcType="VARCHAR" property="billReceiverEmail" />
        <result column="receiver_name" jdbcType="VARCHAR" property="receiverName" />
        <result column="receiver_phone" jdbcType="VARCHAR" property="receiverPhone" />
        <result column="receiver_post_code" jdbcType="VARCHAR" property="receiverPostCode" />
        <result column="receiver_province" jdbcType="VARCHAR" property="receiverProvince" />
        <result column="receiver_city" jdbcType="VARCHAR" property="receiverCity" />
        <result column="receiver_region" jdbcType="VARCHAR" property="receiverRegion" />
        <result column="receiver_detail_address" jdbcType="VARCHAR" property="receiverDetailAddress" />
        <result column="note" jdbcType="VARCHAR" property="note" />
        <result column="confirm_status" jdbcType="INTEGER" property="confirmStatus" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        <result column="use_integration" jdbcType="INTEGER" property="useIntegration" />
        <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
        <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
        <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
        <result column="comment_time" jdbcType="TIMESTAMP" property="commentTime" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
        <collection property="omsOrderItemList" ofType="com.thumb.entity.pojo.OmsOrderItem">
            <id column="item_id" jdbcType="BIGINT" property="id" />
            <result column="order_id" jdbcType="BIGINT" property="orderId" />
            <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
            <result column="product_id" jdbcType="BIGINT" property="productId" />
            <result column="product_pic" jdbcType="VARCHAR" property="productPic" />
            <result column="product_name" jdbcType="VARCHAR" property="productName" />
            <result column="product_brand" jdbcType="VARCHAR" property="productBrand" />
            <result column="product_sn" jdbcType="VARCHAR" property="productSn" />
            <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
            <result column="product_quantity" jdbcType="INTEGER" property="productQuantity" />
            <result column="product_sku_id" jdbcType="BIGINT" property="productSkuId" />
            <result column="product_sku_code" jdbcType="VARCHAR" property="productSkuCode" />
            <result column="product_category_id" jdbcType="BIGINT" property="productCategoryId" />
            <result column="sp1" jdbcType="VARCHAR" property="sp1" />
            <result column="sp2" jdbcType="VARCHAR" property="sp2" />
            <result column="sp3" jdbcType="VARCHAR" property="sp3" />
            <result column="promotion_name" jdbcType="VARCHAR" property="promotionName" />
            <result column="promotion_amount" jdbcType="DECIMAL" property="promotionAmount" />
            <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount" />
            <result column="integration_amount" jdbcType="DECIMAL" property="integrationAmount" />
            <result column="real_amount" jdbcType="DECIMAL" property="realAmount" />
            <result column="gift_integration" jdbcType="INTEGER" property="giftIntegration" />
            <result column="gift_growth" jdbcType="INTEGER" property="giftGrowth" />
            <result column="product_attr" jdbcType="VARCHAR" property="productAttr" />
        </collection>
    </resultMap>

    <!--订单的一对一用户映射-->
    <!--<resultMap id="omsOrder" type="com.thumb.entity.pojo.OmsOrder">-->
    <!--</resultMap>-->

    <!-- 管理员查询数据库中所有的订单信息（单表查询） -->
    <select id="listAllOmsOrderByAdmin" resultMap="omsOrderResultMap">
        select * from oms_order
    </select>

    <!--根据查询条件筛选订单信息（只返回oms_order表）-->
    <select id="searchOmsOrder" resultMap="omsOrderResultMap" parameterType="com.thumb.entity.dto.SearchOmsOrder">
        SELECT
            oo.id,
            oo.member_id,
            oo.coupon_id,
            oo.order_sn,
            oo.create_time,
            oo.member_username,
            oo.total_amount,
            oo.pay_amount,
            oo.freight_amount,
            oo.promotion_amount,
            oo.integration_amount,
            oo.coupon_amount,
            oo.discount_amount,
            oo.pay_type,
            oo.source_type,
            oo. STATUS,
            oo.order_type,
            oo.delivery_company,
            oo.delivery_sn,
            oo.auto_confirm_day,
            oo.integration,
            oo.growth,
            oo.promotion_info,
            oo.bill_type,
            oo.bill_header,
            oo.bill_content,
            oo.bill_receiver_phone,
            oo.bill_receiver_email,
            oo.receiver_name,
            oo.receiver_phone,
            oo.receiver_post_code,
            oo.receiver_province,
            oo.receiver_city,
            oo.receiver_region,
            oo.receiver_detail_address,
            oo.note,
            oo.confirm_status,
            oo.delete_status,
            oo.use_integration,
            oo.payment_time,
            oo.delivery_time,
            oo.receive_time,
            oo.comment_time,
            oo.modify_time
        FROM
            oms_order oo,
            ums_member um
        <where>
            and um.id = oo.member_id
            <if test="order_sn != '' and order_sn != null">
                and oo.order_sn like "%"#{order_sn}"%"
            </if>
            <if test="member != '' and member != null">
                and (um.username like "%"#{member}"%"
                or oo.receiver_phone like "%"#{member}"%")
            </if>
            <if test="create_time != '' and create_time != null">
                and Date(oo.create_time) = #{create_time}
            </if>
        </where>
    </select>

    <!--根据订单id查询订单详情，包含订单下的产品，一对多映射-->
    <select id="getOmsOrderById" resultMap="omsOrderCollectionItemMap" parameterType="int">
        SELECT
            oo.id,
            oo.member_id,
            oo.coupon_id,
            oo.order_sn,
            oo.create_time,
            oo.member_username,
            oo.total_amount,
            oo.pay_amount,
            oo.freight_amount,
            oo.promotion_amount,
            oo.integration_amount,
            oo.coupon_amount,
            oo.discount_amount,
            oo.pay_type,
            oo.source_type,
            oo. STATUS,
            oo.order_type,
            oo.delivery_company,
            oo.delivery_sn,
            oo.auto_confirm_day,
            oo.integration,
            oo.growth,
            oo.promotion_info,
            oo.bill_type,
            oo.bill_header,
            oo.bill_content,
            oo.bill_receiver_phone,
            oo.bill_receiver_email,
            oo.receiver_name,
            oo.receiver_phone,
            oo.receiver_post_code,
            oo.receiver_province,
            oo.receiver_city,
            oo.receiver_region,
            oo.receiver_detail_address,
            oo.note,
            oo.confirm_status,
            oo.delete_status,
            oo.use_integration,
            oo.payment_time,
            oo.delivery_time,
            oo.receive_time,
            oo.comment_time,
            oo.modify_time,

            ooi.id item_id,
            ooi.order_id,
            ooi.order_sn,
            ooi.product_id,
            ooi.product_pic,
            ooi.product_name,
            ooi.product_brand,
            ooi.product_sn,
            ooi.product_price,
            ooi.product_quantity,
            ooi.product_sku_id,
            ooi.product_sku_code,
            ooi.product_category_id,
            ooi.sp1,
            ooi.sp2,
            ooi.sp3,
            ooi.promotion_name,
            ooi.promotion_amount,
            ooi.coupon_amount,
            ooi.integration_amount,
            ooi.real_amount,
            ooi.gift_integration,
            ooi.gift_growth,
            ooi.product_attr
        FROM
            oms_order oo, oms_order_item ooi
        WHERE
            oo.id = ooi.order_id
        AND
            oo.id = #{id}
    </select>

    <!--根据订单id修改订单的状态-->
    <update id="updateOmsOrderStatusByOrderId" parameterType="com.thumb.entity.dto.UpdateStatus">
        <if test="id!=null and status!=null">
            update oms_order set status = #{status} where id = #{id}
        </if>
    </update>

    <!--发货操作：更新订单状态，写入物流快递和单号-->
    <update id="consignMentUpdateStatusByOrderId" parameterType="com.thumb.entity.dto.ConsignMentUpdateStatus">
        <if test="id!=null and status!=null">
            update oms_order set status = #{status}, delivery_company = #{deliveryCompany}, delivery_sn = #{deliverySn} where id = #{id}
        </if>
    </update>


    <!--删除订单-->
    <delete id="deleteOmsOrderById" parameterType="int">
            delete from oms_order where id = #{id}
    </delete>
    <!--删除订单下的产品项-->
    <delete id="deleteOmsOrderItemByOrderId" parameterType="int">
        delete from oms_order_item where order_id = #{id}
    </delete>

    <!--订单设置映射-->
    <resultMap id="omsOrderSettingResultMap" type="com.thumb.entity.pojo.OmsOrderSetting">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="flash_order_overtime" jdbcType="INTEGER" property="flashOrderOvertime" />
        <result column="normal_order_overtime" jdbcType="INTEGER" property="normalOrderOvertime" />
        <result column="confirm_overtime" jdbcType="INTEGER" property="confirmOvertime" />
        <result column="finish_overtime" jdbcType="INTEGER" property="finishOvertime" />
        <result column="comment_overtime" jdbcType="INTEGER" property="commentOvertime" />
    </resultMap>

    <!--获取订单的设置信息-->
    <select id="getOmsOrderSetting" resultMap="omsOrderSettingResultMap">
        select * from oms_order_setting where id = 1
    </select>

    <!--修改订单设置内容-->
    <update id="updateOmsOrderSetting" parameterType="com.thumb.entity.dto.UpdateOmsOrderSetting">
        update oms_order_setting
        <set>
            <if test="flash_order_overtime!=null and flash_order_overtime!=''">
                flash_order_overtime = #{flash_order_overtime},
            </if>
            <if test="normal_order_overtime!=null and normal_order_overtime!=''">
                normal_order_overtime = #{normal_order_overtime},
            </if>
            <if test="confirm_overtime!=null and confirm_overtime!=''">
                confirm_overtime = #{confirm_overtime},
            </if>
            <if test="finish_overtime!=null and finish_overtime!=''">
                finish_overtime = #{finish_overtime},
            </if>
            <if test="comment_overtime!=null and comment_overtime!=''">
                comment_overtime = #{comment_overtime},
            </if>
        </set>
        where id = 1
    </update>

    <!--退货处理映射-->
    <resultMap id="OmsOrderReturnApplyResultMap" type="com.thumb.entity.pojo.OmsOrderReturnApply">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="order_id" jdbcType="BIGINT" property="orderId" />
        <result column="company_address_id" jdbcType="BIGINT" property="companyAddressId" />
        <result column="product_id" jdbcType="BIGINT" property="productId" />
        <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
        <result column="create_time" jdbcType="VARCHAR" property="createTime" />
        <result column="member_username" jdbcType="VARCHAR" property="memberUsername" />
        <result column="return_amount" jdbcType="DECIMAL" property="returnAmount" />
        <result column="return_name" jdbcType="VARCHAR" property="returnName" />
        <result column="return_phone" jdbcType="VARCHAR" property="returnPhone" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="handle_time" jdbcType="VARCHAR" property="handleTime" />
        <result column="product_pic" jdbcType="VARCHAR" property="productPic" />
        <result column="product_name" jdbcType="VARCHAR" property="productName" />
        <result column="product_brand" jdbcType="VARCHAR" property="productBrand" />
        <result column="product_attr" jdbcType="VARCHAR" property="productAttr" />
        <result column="product_count" jdbcType="INTEGER" property="productCount" />
        <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
        <result column="product_real_price" jdbcType="DECIMAL" property="productRealPrice" />
        <result column="reason" jdbcType="VARCHAR" property="reason" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="proof_pics" jdbcType="VARCHAR" property="proofPics" />
        <result column="handle_note" jdbcType="VARCHAR" property="handleNote" />
        <result column="handle_man" jdbcType="VARCHAR" property="handleMan" />
        <result column="receive_man" jdbcType="VARCHAR" property="receiveMan" />
        <result column="receive_time" jdbcType="VARCHAR" property="receiveTime" />
        <result column="receive_note" jdbcType="VARCHAR" property="receiveNote" />
    </resultMap>

    <!--查询所有的退货申请-->
    <select id="listAllOmsOrderReturnApply" resultMap="OmsOrderReturnApplyResultMap">
        select * from oms_order_return_apply
    </select>

    <!--根据条件查询退货申请-->
    <select id="searchOmsOrderReturnApply" resultMap="OmsOrderReturnApplyResultMap" parameterType="com.thumb.entity.dto.SearchOmsOrderReturnApply">
        select * from oms_order_return_apply
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="status != null and status != -1">
                and status = #{status}
            </if>
            <if test="create_time != null and create_time != ''">
                and DATE(create_time) = #{create_time}
            </if>
            <if test="handle_man != null and handle_man != ''">
                and handle_man like "%"#{handle_man}"%"
            </if>
            <if test="handle_time != null and handle_time != ''">
                and DATE(handle_time) = #{handle_time}
            </if>
        </where>
    </select>

    <!--根据服务单号查询退货处理的具体详情-->
    <select id="showOmsOrderReturnApplyById" resultMap="OmsOrderReturnApplyResultMap" parameterType="int">
        select * from oms_order_return_apply where id = #{id}
    </select>

    <!--根据服务id修改退货处理的状态-->
    <update id="updateReturnApplyStatusById" parameterType="com.thumb.entity.dto.UpdateStatus">
        <if test="id!=null and status!=null">
            update oms_order_return_apply set status = #{status} where id = #{id}
        </if>
    </update>

    <!--根据服务id删除退货信息-->
    <delete id="deleteOrderReturnApplyById" parameterType="int">
        delete from oms_order_return_apply where id = #{id}
    </delete>

    <!--退货原因映射-->
    <resultMap id="ReturnReasonResultMap" type="com.thumb.entity.pojo.OmsOrderReturnReason">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    </resultMap>

    <!--查询所有退货原因-->
    <select id="listAllReturnReason" resultMap="ReturnReasonResultMap">
        select * from oms_order_return_reason
    </select>

    <!--添加一个退货原因-->
    <insert id="insertReturnReason" parameterType="com.thumb.entity.dto.UpdateReturnReason">
        insert into oms_order_return_reason
        VALUES (default, #{name}, #{sort}, #{status}, #{create_time})
    </insert>

    <!--修改一个退货原因-->
    <update id="updateReturnReason" parameterType="com.thumb.entity.dto.UpdateReturnReason">
        update oms_order_return_reason
            set name = #{name},
                sort = #{sort},
                status = #{status}
        where id = #{id}
    </update>

    <!--修改退货原因的可用状态-->
    <update id="updateReturnReasonStatus" parameterType="com.thumb.entity.dto.UpdateStatus">
        update oms_order_return_reason
          set status = #{status}
          where id = #{id}
    </update>

    <!--删除一个退货原因-->
    <delete id="deleteReturnReason" parameterType="int">
        delete from oms_order_return_reason where id = #{id}
    </delete>



</mapper>