<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thumb.mapper.IndexMapper">


    <resultMap id="BaseResultMap" type="com.thumb.pojo.PmsProductCategory">
        <!--@mbg.generated-->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="parent_id" jdbcType="BIGINT" property="parentId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="level" jdbcType="INTEGER" property="level" />
        <result column="product_count" jdbcType="INTEGER" property="productCount" />
        <result column="product_unit" jdbcType="VARCHAR" property="productUnit" />
        <result column="nav_status" jdbcType="INTEGER" property="navStatus" />
        <result column="show_status" jdbcType="INTEGER" property="showStatus" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="keywords" jdbcType="VARCHAR" property="keywords" />
        <result column="description" jdbcType="VARCHAR" property="description" />
    </resultMap>


    <select id="selectHomeAdvertise" resultType="com.thumb.pojo.HomeAdvertise">
        select * from sms_home_advertise where status = 1
    </select>

    <select id="getName" resultType="com.thumb.pojo.PmsProduct" parameterType="com.thumb.dto.PageName">
        select * from pms_product where `name` like "%"#{name}"%"
    </select>

    <select id="getType" resultMap="BaseResultMap">
        select * from pms_product_category
    </select>


</mapper>