<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thumb.mapper.MarketingMapper">

    <!--获取正在推荐的品牌-->
    <select id="selectBrandAll" resultType="com.thumb.pojo.Brand">
        select * from pms_brand where show_status=1 order by  sort desc
    </select>

    <!--修改品牌推荐排序值-->
    <update id="updateBySort" parameterType="com.thumb.pojo.Brand">
        UPDATE pms_brand SET `sort` = #{sort} WHERE `id` = #{id};
    </update>

    <!--删除首页推荐品牌-->
    <update id="deleteBrandById" parameterType="int">
        UPDATE `pms_brand` SET `show_status` = 0 WHERE `id` = #{id};
    </update>


    <!--查询品牌库的所有没有推荐品牌-->
    <select id="selectPmsBrandsAll" resultType="com.thumb.pojo.Brand">
        select * from pms_brand where show_status= 0 order by sort desc
    </select>

    <!--条件查询name-->
    <select id="getSelectBrand" resultType="com.thumb.pojo.Brand" parameterType="String">
        select * from pms_brand where show_status= 1 and name like "%"#{name}"%"
    </select>

    <!--批量修改品牌库数据  -->
    <update id="updateMenuById" parameterType="com.thumb.dto.PageName">
        update pms_brand   set
        show_status = 1
        where id in
        <foreach collection="checkID" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>











