<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thumb.mapper.PersonalOrderMapper">
    <select id="orderByUid" parameterType="com.thumb.dto.OrderPageDto" resultMap="order">
      SELECT tbl.order_id,tbl.`member_id`,tbl.`order_sn`,tbl.`status`,tbl.`payment_time`,tbl.`pay_amount`,tbl.`pay_type`,tbl.`create_time`,
        i.`id`,i.`product_pic`,i.`product_name`,i.`product_attr`,i.`real_amount`,i.`product_quantity`,i.`product_id`
        FROM
        (SELECT o.`id` order_id,o.`member_id`,o.`order_sn`,o.`status`,o.`payment_time`,o.`pay_amount`,o.`pay_type`,o.`create_time`
        FROM oms_order o  LIMIT #{begin},#{infoPerPage}) tbl
        LEFT JOIN oms_order_item i
        ON tbl.order_id=i.`order_id`
        WHERE tbl.`member_id`=#{uid}
        ORDER BY tbl.`create_time` DESC
    </select>

    <!--某个用户一共有多少订单-->
    <select id="count" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM oms_order WHERE member_id=#{uid}
    </select>

    <select id="count0" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM oms_order WHERE member_id=#{uid} AND status=0
    </select>

    <select id="count1" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM oms_order WHERE member_id=#{uid} AND status=1
    </select>

    <select id="count2" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM oms_order WHERE member_id=#{uid} AND status=2
    </select>

    <select id="count3" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM oms_order WHERE member_id=#{uid} AND status=3
    </select>


    <select id="orderByUid0" parameterType="com.thumb.dto.OrderPageDto" resultMap="order">
      SELECT tbl.order_id,tbl.`member_id`,tbl.`order_sn`,tbl.`status`,tbl.`payment_time`,tbl.`pay_amount`,tbl.`pay_type`,tbl.`create_time`,
        i.`id`,i.`product_pic`,i.`product_name`,i.`product_attr`,i.`real_amount`,i.`product_quantity`,i.`product_id`
        FROM
        (SELECT o.`id` order_id,o.`member_id`,o.`order_sn`,o.`status`,o.`payment_time`,o.`pay_amount`,o.`pay_type`,o.`create_time`
        FROM oms_order o WHERE o.status=0 LIMIT #{begin},#{infoPerPage}) tbl
        LEFT JOIN oms_order_item i
        ON tbl.order_id=i.`order_id`
        WHERE tbl.`member_id`=#{uid}
        ORDER BY tbl.`create_time` DESC
    </select>

    <select id="orderByUid1" parameterType="com.thumb.dto.OrderPageDto" resultMap="order">
      SELECT tbl.order_id,tbl.`member_id`,tbl.`order_sn`,tbl.`status`,tbl.`payment_time`,tbl.`pay_amount`,tbl.`pay_type`,tbl.`create_time`,
        i.`id`,i.`product_pic`,i.`product_name`,i.`product_attr`,i.`real_amount`,i.`product_quantity`,i.`product_id`
        FROM
        (SELECT o.`id` order_id,o.`member_id`,o.`order_sn`,o.`status`,o.`payment_time`,o.`pay_amount`,o.`pay_type`,o.`create_time`
        FROM oms_order o WHERE o.status=1 LIMIT #{begin},#{infoPerPage}) tbl
        LEFT JOIN oms_order_item i
        ON tbl.order_id=i.`order_id`
        WHERE tbl.`member_id`=#{uid}
        ORDER BY tbl.`create_time` DESC
    </select>

    <select id="orderByUid2" parameterType="com.thumb.dto.OrderPageDto" resultMap="order">
      SELECT tbl.order_id,tbl.`member_id`,tbl.`order_sn`,tbl.`status`,tbl.`payment_time`,tbl.`pay_amount`,tbl.`pay_type`,tbl.`create_time`,
        i.`id`,i.`product_pic`,i.`product_name`,i.`product_attr`,i.`real_amount`,i.`product_quantity`,i.`product_id`
        FROM
        (SELECT o.`id` order_id,o.`member_id`,o.`order_sn`,o.`status`,o.`payment_time`,o.`pay_amount`,o.`pay_type`,o.`create_time`
        FROM oms_order o WHERE o.status=2 LIMIT #{begin},#{infoPerPage}) tbl
        LEFT JOIN oms_order_item i
        ON tbl.order_id=i.`order_id`
        WHERE tbl.`member_id`=#{uid}
        ORDER BY tbl.`create_time` DESC
    </select>

    <select id="orderByUid3" parameterType="com.thumb.dto.OrderPageDto" resultMap="order">
      SELECT tbl.order_id,tbl.`member_id`,tbl.`order_sn`,tbl.`status`,tbl.`payment_time`,tbl.`pay_amount`,tbl.`pay_type`,tbl.`create_time`,
        i.`id`,i.`product_pic`,i.`product_name`,i.`product_attr`,i.`real_amount`,i.`product_quantity`,i.`product_id`
        FROM
        (SELECT o.`id` order_id,o.`member_id`,o.`order_sn`,o.`status`,o.`payment_time`,o.`pay_amount`,o.`pay_type`,o.`create_time`
        FROM oms_order o WHERE o.status=3 LIMIT #{begin},#{infoPerPage}) tbl
        LEFT JOIN oms_order_item i
        ON tbl.order_id=i.`order_id`
        WHERE tbl.`member_id`=#{uid}
        ORDER BY tbl.`create_time` DESC
    </select>

    <resultMap id="order" type="com.thumb.dto.ClientOrderDto">
        <id property="order_sn" column="order_sn"></id>
        <result property="order_id" column="order_id"></result>
        <result property="member_id" column="member_id"></result>
        <result property="status" column="status"></result>
        <result property="create_time" column="create_time"></result>
        <result property="pay_amount" column="pay_amount"></result>
        <result property="pay_type" column="pay_type"></result>
        <collection property="order_items" ofType="com.thumb.dto.Client_order_itemDto">
            <id property="id" column="id"></id>
            <result property="product_id" column="product_id"></result>
            <result property="product_pic" column="product_pic"></result>
            <result property="product_name" column="product_name"></result>
            <result property="product_attr" column="product_attr"></result>
            <result property="real_amount" column="real_amount"></result>
            <result property="product_quantity" column="product_quantity"></result>
        </collection>
    </resultMap>

    <update id="changeStatus" parameterType="int">
        update oms_order set status=3 where id=#{orderId}
    </update>

    <select id="getRefundProduct" parameterType="int" resultType="com.thumb.dto.Client_order_itemDto">
        SELECT * FROM `oms_order_item` WHERE id =#{id}
    </select>

    <select id="getreasons" resultType="com.thumb.dto.RefundReasonsDto">
        select * from oms_order_return_reason where status=1
    </select>


    <select id="getReturnInfo" resultType="com.thumb.dto.ClientRefundDto" parameterType="int">
        SELECT i.`id`,i.`order_id`,i.`product_id`,i.`order_sn`,i.`product_pic`,i.`product_name`,i.`product_brand`,i.`product_attr`,i.`product_price`,i.`real_amount` product_real_price,
        o.`receiver_name` return_name,o.`receiver_phone` return_phone,
        u.username member_username
        FROM `oms_order_item` i
        LEFT JOIN `oms_order` o
        ON i.`order_id`=o.`id`
        LEFT JOIN `ums_member` u
        ON u.id=o.`member_id`
        WHERE i.id=#{id}
    </select>

    <insert id="addReturnAapply" parameterType="com.thumb.dto.ClientRefundDto" >
        insert into oms_order_return_apply (
        order_id,
        product_id,
        order_sn,
        create_time,
        member_username,
        return_amount,
        return_name,
        return_phone,
        status,
        product_pic,
        product_name,
        product_brand,
        product_attr,
        product_count,
        product_price,
        <if test="reason!=null and reason!=''">
            reason,
        </if>
        <if test="description!=null and description!=''">
            description,
        </if>
        <if test="proof_pics!=null and proof_pics!=''">
            proof_pics,
        </if>
        product_real_price

        )
        values (
        #{order_id},
        #{product_id},
        #{order_sn},
        NOW(),
        #{member_username},
        #{return_amount},
        #{return_name},
        #{return_phone},
        #{status},
        #{product_pic},
        #{product_name},
        #{product_brand},
        #{product_attr},
        #{product_count},
        #{product_price},
        <if test="reason!=null and reason!=''">
            #{reason},
        </if>
        <if test="description!=null and description!=''">
            #{description},
        </if>
        <if test="proof_pics!=null and proof_pics!=''">
            #{proof_pics},
        </if>
        #{product_real_price}
        )
    </insert>

    <insert id="addRate" parameterType="com.thumb.dto.RateDto">
        insert into pms_comment (
        product_id,
        member_nick_name,
        product_name,
        star,
        create_time,
        product_attribute,
        content,
        pics
        ) values (
        #{product_id},
        #{member_nick_name},
        #{product_name},
        #{star},
        NOW(),
        #{product_attribute},
        #{content},
        #{pics}
        )
    </insert>
</mapper>

